/* Change 'Livros' navigation drop-down's hover color */

div.drp-cnt a:hover {
	background-color: #fe4157;
} 

.container div.header {
	height: 35vh;
	position: relative;
	z-index: 1002;
}

div#header-img {
	background-image: url("../media/cart-header.jpeg");
	height: 40%;
	background-position: center;
}

.cart-icon span {
	background-color: #fe4157;
}

#finalizar-content {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
	width: 80%;
	margin: 0 auto;
	padding: 30px;
	font-family: 'Nunito', sans-serif;
	height: auto;
	position: relative;
	background-color: #fff;
}

form {
	font-family: 'Nunito';
	font-size: 13px;
	margin-top: 10px;
	position: relative;
	padding: 15px;
}

form input {
	padding: 10px;
	color: #5a5a5a;
	border: 1px solid #dadada;
	transition: 0.3s;
	border-radius: 2px;
}

form input:hover, form input:focus {
	border: 1px solid #9e9e9e;
}

form input::placeholder {
	color: #5a5a5a;
	font-size: 12px;
}

#referencia-content {
	text-align: center;
	color: #292f36;
}

#referencia-content h2 {
	font-family: 'Nunito';
	font-size: 30px;
	text-align: center;
}

#factura-content {
	margin: 50px auto;
	background-color: #fff;
	width: 50%;
	text-align: left;
	position: relative;
	padding: 50px;
}

#factura-header {
	font-family: 'Titillium Web', san-serif;
	font-size: 23px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.factura-element {
	margin: 20px 0;
}

.factura-element h3 {
	font-family: 'Nunito', sans-serif;
	display: inline;
	color: #fe4157;
}

.factura-element p {
	display: inline;
	margin-left: 10px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
}

#multibanco-logo {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

#referencia-content a {
	font-size: 15px;
	text-decoration: none;
	color: #f5f5f5;
	background-color: #fe4157;
	font-family: 'Nunito', sans-serif;
	padding: 10px 15px;
	border-radius: 28px;
	transition: 0.3s;
}

#referencia-content a:hover {
	background-color: #d23547;
}