/* Change 'Livros' navigation drop-down's hover color */
div.drp-cnt a:hover {
	background-color: #8657a5;
} 

.container div.header {
	height: 35vh;
	position: relative;
	z-index: 1002;
}

.header div#header-img {
	background-image: url('../media/livros-header.jpeg');
	height: 40%;
	background-position: center;
}

.header #search-frm {
	left: 50%;
	top: 83%;
	transform: translate(-50%, -17%);
}

.header #search-frm input[type=text] {
	font-size: 13px;
}

.header #search-frm select {
	font-size: 13px;
	margin-right: -1px;
}

.header #search-frm button {
	padding: 5px 10px;
	margin-left: -2px;
	height: 43px !important;
}

.header #search-frm button i {
	font-size: 21px;
}


#HC-divider {
	position: absolute;
	bottom: -7%;
	border-bottom: 1px solid #9e9e9e;
	height: 1px;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
}

.container div.content {
	margin: 100px auto 0 auto;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
}

.prod-book {
	position: relative;
	width: 17%;
	margin: 0 44px 50px 44px;
	height: 380px;
	background-color: #fff;
	text-align: center;
	transition: all 0.2s;
	cursor: pointer;
}

.prod-book a {
	text-decoration: none;
}

.prod-book:hover {
	transform: scale(1.1);
	-webkit-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.4);;
	-moz-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.4);;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.4);;
}

.book-img {
	padding: 6px;
}

.book-img img {
	width: 100%;
}

.book-price {
	height: 40px;
	width: 40px;
	background-color: #8657a5;
	border-radius: 50%;
	line-height: 40px;
	position: absolute;
	right: 7%;
	top: 61%;
	padding: 2px;
}

.book-price p {
	color: #fff;
	font-family: 'Nunito', sans-serif;
	font-size: 12px;
}

.book-price p .price-symb {
	font-size: 10px;
}

.title-stars {
	margin-top: 20px;
	padding: 0px 10px;
	text-align: left;
	border-left: 2px solid #8657a5;
}

.title-stars p {
	font-family: 'Nunito', sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	text-overflow: ellipsis;
    overflow: hidden; 
  	white-space: nowrap;
  	color: #292f36;
}

.title-stars img {
	display: inline;
}

.title-stars #rate-count {
	display: inline;
	font-size: 12px;
	position: relative;
	top: -3px;
	color: #9e9e9e;
}

.author-cat {
	width: 100%;
	border-top: 1px solid #f5f5f5;
	margin-top: 10px;
}

.author, .category {
	width: 50%;
	font-size: 10px;
}

.category {
	float: right;
}

.author p, .category p {
	padding: 15px 17px;
	border-right: 1px solid #f5f5f5;
	position: relative;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 1px;
	text-overflow: ellipsis;
    overflow: hidden; 
    color: #9e9e9e;
  	white-space: nowrap;
}

.category p {
	border-right: 0;
}


@media screen and (max-device-width: 1280px) 
{
	.prod-book {
		margin: 0 40px 50px 40px;
	}
}